h2 {
	display:none;
}

.nav-link {
	display:none;
}


.hamburger {
	display:none;
}

.nav-button {
background-color:#ffffff;
border: 0.125rem solid #07C1c0;
}

.video-section p {
	padding: .5em 0 2em 0;
	display: inline;
}

#start-now {
	margin-bottom: 100px;
}